
build-GitDemo-Desktop_Qt_5_9_3_GCC_64bit-Debug/\.qmake\.stash

build-GitDemo-Desktop_Qt_5_9_3_GCC_64bit-Debug/GitDemo

build-GitDemo-Desktop_Qt_5_9_3_GCC_64bit-Debug/main\.o

build-GitDemo-Desktop_Qt_5_9_3_GCC_64bit-Debug/Makefile
